In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
import warnings
import pickle

In [ ]:
column=pd.read_csv("D:\ML_flask_proj\Admission_Predict_Ver1.1.csv")
column.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Probability,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92,92
1,2,324,107,4,4.0,4.5,8.87,1,0.76,76
2,3,316,104,3,3.0,3.5,8.00,1,0.72,72
3,4,322,110,3,3.5,2.5,8.67,1,0.80,80
4,5,314,103,2,2.0,3.0,8.21,0,0.65,65

In [ ]:
column.tail()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Probability,Chance of Admit
495,496,332,108,5,4.5,4.0,9.02,1,0.87,87
496,497,337,117,5,5.0,5.0,9.87,1,0.96,96
497,498,330,120,5,4.5,5.0,9.56,1,0.93,93
498,499,312,103,4,4.0,5.0,8.43,0,0.73,73
499,500,327,113,4,4.5,4.5,9.04,0,0.84,84

In [ ]:
data = np.array(column)

In [ ]:
X = data[0:, 1:-2]
y = data[0:, -1]

In [ ]:
# splitting the data into training & testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.15)

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, accuracy_score
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [ ]:
s = np.array([327,113,4,4.5,4.5,9.04,0])
s = s.reshape(1,-1)

In [ ]:
print(model.predict(s))

[82.34285782]

In [ ]:
pickle.dump(model,open('model.pkl','wb'))
model=pickle.load(open('model.pkl','rb'))